- var img = ["kievstar", "life", "canon", "uniliver", "kraft", "AVK", "beefeater", "hortista", "mirgorodskaya", "TNK", "skoda", "alpari", "everest", "winston", "edimax", "DC", "bausch", "last"]
section.clients.container
	h1 Clients
	.client__content
		each item, index in img
			if index == 6
				.client.d-none-645
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")
			else if index == 7
				.client.d-none-645
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")
			else if index == 8
				.client.d-none-645.d-none-810
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")

			else if index == 9
				.client.d-none-810
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")
			else if index < 10	
				.client
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")
			else
				.client.d-none-940
					a(hfer="#"): img(src="images/clients/"+item+".png" alt="picture")
		
					

