.contacts
	a.facebook-icon(href="facebook.com")
		i.fa.fa-facebook.contact__icon(aria-hidden="true")

	a.twitter-icon(href="")
		i.fa.fa-twitter.contact__icon(aria-hidden="true")
			
	a.email-icon(href="mailto:info@business.co")
		i.fa.fa-envelope.contact__icon(aria-hidden="true")
