footer.footer.container
	.footer__left
		a.email-icon(href="mailto:ivan@gmail.com")
			i.fa.fa-envelope.contact__icon(aria-hidden="true")
			span.contact__text ivan@gmail.com
		a.tel-icon(href="tel:+306300000")
			i.fa.fa-mobile.contact__icon(aria-hidden="true")
			span.contact__text +380672223344
	.footer__right.copyright Copyright © Mediamania 2003-2012