header.header
	.container
		.header__left
			.logo: img.logo__picture(src="images/logo.png" alt="picture")
			.name
				.name__company Ivan Madiaman
				.name__slogan digital producer & technologist
		.header__right
			.header__right-top
				include contact
			.header__right-bottom
				include nav
