section.info.container
	.info__left
		.info__left-img: img(src="../images/photo.png" alt="Photo")
		.info-text
			h3 My name is Ivan Ivanov
			.info-desc When constructing the form you can see I was able to  new HTML5 form elements to improve the form functionality. Notice for the text inputs I use the Placeholder attribute, this displays text in the field until the field is focused.
	.info__right
		.info-text
			h3 Services
			.info-desc Digital marketing and social media strategies Interactive projects management/development Flash animation and scripting Digital environment solutions (Augmented Reality, QR/RFID/NFC, Interactive Installations, Mechatronics, Electronics engineering etc.) Front-end design and development, UI design Photography (product, panoramic, timelapse, macro, nature etc.) Product design and 3D modeling