nav.nav
	- var items = [{name:'About', url:'url-1'}, {name:'Portfolio', url:'url-2'}, {name:'Laboratory', url:'url-3'}]
	- var dataItems = ['about', 'portfolio', 'laboratory']
		each item, key in items
			if key == 0
				a.nav__link.nav__link--active(href=item.url data-link=dataItems[key])= item.name
			else
				a.nav__link(href=item.url data-link=dataItems[key])= item.name