section.posts.container
	h1 Latest Posts
	.button.button--main.blue
		a.button__text All posts
		.button__arrow
	.posts__content
		.post
			.post__image: img(src="images/posts/post-1.png" alt="picture")
			.post__title: a(href="#").post__title--link Nokia Maps update
			.post__tags
				.button.button--small.blue: a.button__text Laboratory
				.button.button--small.blue: a.button__text NFC
				.button.button--small.blue: a.button__text Arduino
			.post__text We all use maps to get us from A to B, and now Nokia Maps has teamed up with Bing and Microsoft in order to make getting around with your Nokia phone easier and more fun than ever before.

		.post
			.post__image: img(src="images/posts/post-2.png" alt="picture")
			.post__title: a(href="#").post__title--link 10 magical facts about NFC
			.post__tags
				.button.button--small.blue: a.button__text Android
				.button.button--small.blue: a.button__text NFC
			.post__text Google NFC and you get more than 42 million results. But how much do you actually know about Near-Field Communications? Even though it’s getting a ton of coverage, to many of us it still feels something of amystery.

		.post
			.post__image: img(src="images/posts/post-3.png" alt="picture")
			.post__title: a(href="#").post__title--link Social Innovator Of The Week
			.post__tags
				.button.button--small.blue: a.button__text Android
				.button.button--small.blue: a.button__text NFC
				.button.button--small.blue: a.button__text Photography
			.post__text Samsung has started shipping its much predictable Galaxy S II smartphone but for now the smartphones which are sold outside Korea will be available only in a non-NFC version until later in 2011.