section.works.container
	h1 Resent Works
	.button.button--main.blue
		a.button__text All works
		.button__arrow
	.works__content
		.work
			.work__image: img(src="images/works/work-1.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link Laboratory
				.work__text Microsoft unveils Windows 8 in challenge to Apple, Google
			.work__description--long
				.work__title: a(href="#").work__title--link--long Laboratory
				.work__text--long Microsoft unveils Windows 8 in challenge to Apple, Google Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work
			.work__image: img(src="images/works/work-2.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link Online project
				.work__text The mobile device that thinks it's a Russian doll
			.work__description--long 
				.work__title: a(href="#").work__title--link--long Online project
				.work__text--long The mobile device that thinks it's a Russian doll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work
			.work__image: img(src="images/works/work-3.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link flash
				.work__text Phones poised to replace the money in your pocket
			.work__description--long 
				.work__title: a(href="#").work__title--link--long flash
				.work__text--long Phones poised to replace the money in your pocket Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work
			.work__image: img(src="images/works/work-4.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link interactive environment
				.work__text The smartphones and tablets debuting at Mobile World 
			.work__description--long 
				.work__title: a(href="#").work__title--link--long interactive environment
				.work__text--long The smartphones and tablets debuting at Mobile World Congress in Barcelona this week share one very important ingredient that has allowed 

		.work.d-none-710
			.work__image: img(src="images/works/work-5.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link flash
				.work__text The BBC is not responsible for the content of external sites
			.work__description--long 
				.work__title: a(href="#").work__title--link--long flash
				.work__text--long The BBC is not responsible for the content of external sites Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work.d-none-710
			.work__image: img(src="images/works/work-6.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link arduino
				.work__text Seti Live website to crowdsource alien life
			.work__description--long 
				.work__title: a(href="#").work__title--link--long arduino
				.work__text--long Seti Live website to crowdsource alien life Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work.d-sm-none.d-md-none.d-lg-block.d-block-940
			.work__image: img(src="images/works/work-7.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link processing
				.work__text Apple iPad 3 expected on 7 March following press event
			.work__description--long 
				.work__title: a(href="#").work__title--link--long processing
				.work__text--long Apple iPad 3 expected on 7 March following press event Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, repellat?

		.work.d-sm-none.d-md-none.d-lg-block.d-block-940
			.work__image: img(src="images/works/work-8.jpg" alt="picture")
			.work__description--short
				.work__title: a(href="#").work__title--link photography
				.work__text Anonymous hackers: Police arrest 25 in four countries
			.work__description--long 
				.work__title: a(href="#").work__title--link--long photography
				.work__text--long Anonymous hackers: Police arrest 25 in four countries  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, labore!
