.contacts{
	float: right;	
	.facebook-icon .contact__icon{
		width: 27px;
		padding-left:9px;
	}
}

.email-icon:hover .contact__icon{
	background-color: #83e1f5;
}
.tel-icon .contact__text:hover{color:$color-main; cursor:default;}

.contact{

	&__icon{
		background: #b6bbbb;
		color:#fff;
		font-size:0.8125rem;
		border-radius: 50%;
		padding:7px;
		margin-left: 5px;

		transition: 0.3s;

		&:hover{
			background: #83e1f5;
		}
	}

	&__text{
		color: $color-main;
		padding:0 10px 0 7px;
	    display: inline-block;
		margin-top: 14px;
		
		&:hover{
			color:$color-contact-hover;
		}

	}

	&:hover &__icon{
		background: #83e1f5;
	}
}


.facebook-icon{
	.contact__icon{
		width: 15px;
		padding-left:9px;
	}
}

.info__bottom .contact__icon{
	height: 40px;
	width: 40px;
	font-size: 1.5rem;
    text-align: center;
}

.info__bottom .facebook-icon .contact__icon{
	padding-left:6px;
}

.fa.fa-mobile{
	padding-top:6px;
	background-color: #3fc2d9;

	&:before{
		font-size: 2rem;
   	 	vertical-align: middle;
   	}

   	&:hover{
   		cursor: default;
   	}

}