.nav{
	&__link{
		font-family: $ff-header-menu;
		font-size: 1rem;
		color: $color-menu;
		display: inline-block;
		margin-left:20px;

		transition: 0.3s;	

		&--active{
			color:$color-menu-active;
		}

		&:hover{
			color:$color-menu-hover;
		}
	}
}