.posts{

	padding: 20px 0 30px 0;
	margin-bottom:15px;
	@include line();

	@include for-phone-only{
		padding:10px 0;
		margin-bottom: 10px;
	}

	&__content{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 15px;

		@include for-phone-only{
			flex-direction: column;
			margin-top: 5px;
		}
	}

	h1{
		display: inline-block;
		@include for-phone-only{margin-bottom:0;}
	}
}

.post{
	display: flex;
	flex-direction: column;
	flex: 0 1 30%;

	@include for-phone-only{
		flex: 0 1 100%;
		margin-bottom: 10px;
	}


	&__image{

		@include for-phone-only{display:none;}

		width: 100%;

		img{
			border: 1px solid #d2d4d4;
			max-width: 100%;
			height: auto;
		}
	}

	&__title{
		padding-top:15px;

		@include for-phone-only{padding-top:10px;}
		
		&--link{
			font-family: $ff-main;
			font-size: 1rem;
			color:$color-link;
			text-shadow: 1px 1px 1px #fff;

			&:hover{
				color:$color-link;
				text-decoration: underline;
			}
		}
	}

	&__text{
		font-family: $ff-main;
		font-size: 0.8125rem;
		color: $color-main;
		text-align:justify;
	}

	&__tags{
		margin: 10px 0;
	}
}
