@font-face {
  font-family: "georgia-bold";
  src: url("../fonts/georgia-bold.woff") format("woff"),
  url("../fonts/georgia-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "helvatica-neue-bold";
  src: url("../fonts/helvetica-neue-bold.woff") format("woff"),
  url("../fonts/helvetica-neue-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tahoma";
  src: url("../fonts/Tahoma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriad-pro-light";
  src: url("../fonts/Myriad-Pro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriad-pro-regular";
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}