@mixin centerer-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerer-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin line(){
  border-bottom:1px solid #c8c8c8;
  box-shadow: 0 1px 0 #fff;
}