// Fonts
$ff-main: 'tahoma';
$ff-main-bold: 'helvatica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';
$ff-name-company: 'myriad-pro-light';
$ff-name-slogan: 'tahoma';
$ff-header-menu: 'tahoma';
$ff-slide-title: 'tahoma';
$ff-slide-desc: 'tahoma';

$color-main: #4e5c60;
$color-contact-hover: #0e96b8;

$ff-info-title: 'myriad-pro-regular';
$color-info-title: #0e96b8;

$color-info-desc: #4e5c60;

